{{ $dateFormat := default "Mon Jan 2, 2006" (index .Site.Params "date_format") }}
{{ $link := .Permalink }}
{{ $description := .Params.description }}
<article class="mb-4">
  <header>
    <h3 class="blog-post-title"><a href="{{ .Permalink }}">{{ if .Title }}{{ .Title | markdownify }}{{ else }} {{ .Params.name }}{{ end }}</a></h3>
  </header>
  {{ if .Params.images}}{{ with (index .Params.images 0) }}
  <figure class="figure mb-0">
    <a href="{{ $link }}"><img src="{{ . }}" class="figure-img img-fluid rounded" alt="{{ $description }}"></a>
  </figure>
  {{ end }}{{ end }}
  <p class="blog-post-description mb-0">{{ with .Params.description }}{{ . }} &ensp; {{ end }}<span class="read-more"><a href='{{ .Permalink }}'>Read More<i class="fa fa-fw fa-long-arrow-right"></i> </a></span></p>

  <footer>
    {{ partial "posted-on.html" . }}
  </footer>

</article> <!-- /.blog-post -->

{{- /* vim: set ts=2 sw=2 et: */}}
