// selectively import components we need from font-awesome
// see: node_modules/font-awesome/scss/font-awesome.scss
@import 'font-awesome';

// selectively import components we need from bootstrap
// see: node_modules/bootstrap/scss/bootstrap.scss
@import 'bootstrap';

// local style overrides
@import 'main';
