{{ partial "base-partials/head" . }}

  <body>


    {{ partial "base-partials/navbar" . }}
    {{ block "timeline" . }}

    {{ end }}
    <div class="container pt-4">
      <div class="row justify-content-center">
        <div class="col-sm-10 col-md-9 col-lg-8 blog-main">

          {{ block "main" . }}
          <!-- The part of the page that begins to differ between templates -->
          {{ end }}

        </div> {{ "<!-- /.blog-main -->" | safeHTML }}


      </div> {{ "<!-- /.row -->" | safeHTML }}
    </div> {{ "<!-- /.container -->" | safeHTML }}

    {{ partial "base-partials/footer" . }}

  </body>
  {{ block "script" . }}

  {{ end }}
</html>

{{- /* vim: set ts=2 sw=2 et: */}}
