{{ $dateFormat := default "Mon Jan 2, 2006" (index .Site.Params "date_format") }}

<article class="blog-post">
  <header>
    <h2 class="blog-post-title"><a href="{{ .Permalink }}">{{ .Title | markdownify }}</a></h2>
  </header>
  <p class="blog-post-description mb-0">{{ .Params.description }} &ensp; <span class="read-more"><a href='{{ .Permalink }}'>Read More<i class="fa fa-fw fa-long-arrow-right"></i> </a></span></p>

  <!-- <p><a href='{{ .Permalink }}'>{{ i18n "readMore" }}</a></p> -->
  {{ .Render "single.foot" }}

</article> <!-- /.blog-post -->

{{- /* vim: set ts=2 sw=2 et: */}}
