{{ partial "base-partials/head" . }}

  <body>


    {{ partial "base-partials/navbar" . }}
    {{ partial "base-partials/header" . }}
    {{ block "timeline" . }}

    {{ end }}
    <div class="container pt-4">
      <div class="row">
        <div class="offset-md-1 col-md-9 offset-lg-2 col-lg-7 blog-main">

          {{ block "main" . }}
          <!-- The part of the page that begins to differ between templates -->
          {{ end }}

        </div> {{ "<!-- /.blog-main -->" | safeHTML }}


      </div> {{ "<!-- /.row -->" | safeHTML }}
    </div> {{ "<!-- /.container -->" | safeHTML }}

    {{ partial "base-partials/footer" . }}

  </body>

</html>

{{- /* vim: set ts=2 sw=2 et: */}}
