<!DOCTYPE html>
<html lang="{{ .Lang }}">

  <head>
    {{ partial "head-meta.html" . }}

    {{ block "schema-dot-org" . }}
      <!-- schema.org metadata differs for Nodes and Pages -->
    {{ end }}

    <link rel="canonical" href="{{ .Permalink }}">

    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>

    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="/favicon-196x196.png" sizes="196x196" />
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="/favicon-128.png" sizes="128x128" />
    <meta name="application-name" content="&nbsp;"/>
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="/mstile-144x144.png" />
    <meta name="msapplication-square70x70logo" content="/mstile-70x70.png" />
    <meta name="msapplication-square150x150logo" content="/mstile-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="/mstile-310x150.png" />
    <meta name="msapplication-square310x310logo" content="/mstile-310x310.png" />


    {{ "<!-- combined, minified CSS -->" | safeHTML }}
    <link href="{{ .Site.BaseURL }}css/style.css" rel="stylesheet"{{ if not .Site.Params.disable_sri }} integrity="{{ .Site.Data.sri.style}}" crossorigin="anonymous"{{ end }}>
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text|Open+Sans" rel="stylesheet">


    {{ "<!-- RSS 2.0 feed -->" | safeHTML }}
    <link href="{{ .Site.Params.feedpress }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />

    {{ template "_internal/google_analytics_async.html" . }}

    {{ if .Site.Params.cookie_consent_info_url }}
    {{ partial "cookie-consent.html" . }}
    {{ end }}

    {{ partial "head-custom.html" . }}
  </head>

  <body>

<!--     <div class="blog-masthead">
      <div class="container">
        <nav class="navbar navbar-toggleable-md py-0">
          <a class="nav-link {{ if .IsHome }}active{{ end }}" href="{{ .Site.BaseURL | absLangURL }}">{{ i18n "home" }}</a>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            {{- $currentURL := .URL | absLangURL -}}
            {{ range .Site.Menus.navbar }}
              {{ $menuURL := .URL | absLangURL }}
              {{ .Pre }}
              <li class="nav-item{{ if eq $menuURL $currentURL }} active{{ end }}">
                <a class="nav-link" href="{{.URL | absURL }}">{{ .Name }}</a>
              </li>
            {{ end }}
            </ul>
          </div>
        </nav>
      </div>
    </div> -->

    <header class="blog-header pt-4 bg-inverse center">
      <div class="container">
        <h1 class="blog-title text-white"><a href="{{ .Site.BaseURL }}" rel="home">{{ .Site.Title | safeHTML }}</a></h1>
        <span class="blog-description font-faded">{{ if .Site.Params.long_description }}{{ .Site.Params.long_description | markdownify }}{{ end }}</span>
      </div>
    </header>

    <div class="container">
      <div class="row">
        <div class="offset-md-1 col-md-9 offset-lg-2 col-lg-7 blog-main">

          {{ block "main" . }}
          <!-- The part of the page that begins to differ between templates -->
          {{ end }}

        </div> {{ "<!-- /.blog-main -->" | safeHTML }}


      </div> {{ "<!-- /.row -->" | safeHTML }}
    </div> {{ "<!-- /.container -->" | safeHTML }}

    <footer class="blog-footer">
      <p>
      {{ if .Site.Copyright }}
      {{ .Site.Copyright | markdownify }}
      {{ else }}
      Blog template created by <a href="https://twitter.com/mdo">@mdo</a>, ported to Hugo by <a href='https://twitter.com/mralanorth'>@mralanorth</a>.
      {{ end }}
      </p>
      <p>
      <a href="#">{{ i18n "backToTop" }}</a>
      </p>
    </footer>

  </body>

</html>

{{- /* vim: set ts=2 sw=2 et: */}}
