
{{ define "timeline" }}
    <div class="container pt-4">
      <div class="row justify-content-center">
        <div class="col-md-9 col-lg-7 pb-4">
            {{ .Render "single.head" }}
        </div>
      </div>
    </div>
    <div class="container-fluid px-sm-0 px-md-0 mx-sm-0 mx-md-0 my-0 py-0">
      <div class="row bg-light px-sm-0 py-4 justify-content-center">
        <div class="col-lg-10 col-md-12 col-sm-12 p-0 mb-4 pb-4">

            <div id='timeline-embed' style="height:650px;"></div>
        </div>
      </div>
    </div>
{{ end }}

{{ define "main" }}
    {{ .Content }}

    {{ .Render "single.foot" }}
    {{ if (ne .Params.comments false) }}<hr>{{ template "_internal/disqus.html" . }}{{ end }}
{{ end }}
{{ define "script" }}
      <script src="https://cdn.knightlab.com/libs/timeline3/latest/js/timeline.js"></script>
        <script type="text/javascript">
        var options = {
         hash_bookmark: true,
         initial_zoom: 1
        };
        timeline = new TL.Timeline('timeline-embed',
          'https://docs.google.com/spreadsheets/d/1mU56Ur1ldmrwY0ijm2Jme2hQ3ZqNehOYInkeQYqQJNs/edit?usp=sharing',
          options);
        </script>
{{ end }}
