{{ define "schema-dot-org" }}
  {{ partial "schemadotorg.html" . }}
{{ end }}
{{ define "main" }}

{{ .Content }}


{{ if not .Paginator.HasPrev }}
<h2>Posts Archive</h2>
<ul>
  {{ range where .Site.RegularPages "Type" "in" (slice "post" "hopper-map") }}
    <li class="list"><a href="{{ .RelPermalink }}" title="{{ .Params.description }}">{{ .Title }}</a></li>
  {{ end }}
</ul>

<h2>Recent Posts</h2>
{{ end }}

{{ $paginator := .Paginate (where .Site.RegularPages "Type" "in" (slice "post" "hopper-map")) }}
{{ range $paginator.Pages }}
{{ if and (not .Params.short) .Params.description }}
{{ partial "views/summary.html" . }}
{{ else }}
{{ partial "views/content.html" . }}
{{ end }}
{{ end }}

{{ partial "pagination-buttons.html" . }}

{{ end }}

{{- /* vim: set ts=2 sw=2 et: */}}
