{{ define "schema-dot-org" }}
  {{ partial "schemadotorg.html" . }}
{{ end }}
{{ define "main" }}

{{ .Content }}


<h2>Posts Archive</h2>
<ul>
  {{ range where .Site.RegularPages "Type" "post" }}
    <li class="list"><a href="{{ .RelPermalink }}" title="{{ .Params.description }}">{{ .Title }}</a></li>
  {{ end }}
</ul>

<h2>Recent Posts</h2>

{{ $paginator := .Paginate (where .Site.RegularPages "Type" "post") }}
{{ range $paginator.Pages }}
{{ if and (not .Params.short) .Params.description }}
{{ .Render "summary" }}
{{ else }}
{{ .Render "content" }}
{{ end }}
{{ end }}

{{ partial "pagination-buttons.html" . }}

{{ end }}

{{- /* vim: set ts=2 sw=2 et: */}}
