  {{ partial "base-partials/head" . }}
  <body>


<!--     <div class="blog-masthead">
      <div class="container">
        <nav class="navbar navbar-toggleable-md py-0">
          <a class="nav-link {{ if .IsHome }}active{{ end }}" href="{{ .Site.BaseURL | absLangURL }}">{{ i18n "home" }}</a>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            {{- $currentURL := .URL | absLangURL -}}
            {{ range .Site.Menus.navbar }}
              {{ $menuURL := .URL | absLangURL }}
              {{ .Pre }}
              <li class="nav-item{{ if eq $menuURL $currentURL }} active{{ end }}">
                <a class="nav-link" href="{{.URL | absURL }}">{{ .Name }}</a>
              </li>
            {{ end }}
            </ul>
          </div>
        </nav>
      </div>
    </div> -->

    {{ partial "base-partials/header" . }}

    <div class="container-fluid px-sm-0 px-md-0 mx-sm-0 mx-md-0 my-0 py-0">
      <div class="row bg-faded px-sm-0 pt-4">
        <div class="offset-lg-1 col-lg-10 col-md-12 col-sm-12 p-0">
          {{ block "main" . }}
          <!-- The part of the page that begins to differ between templates -->
          {{ end }}
        </div>
      </div>
    </div> {{ "<!-- /.container -->" | safeHTML }}

    {{ partial "base-partials/footer" . }}
  </body>

</html>

{{- /* vim: set ts=2 sw=2 et: */}}
